

<div class="container">

    <button type="button" class="btn btn-info" (click)="openModal(template)">Create template modal</button>

    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title">Termo</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
         <span aria-hidden="true">&times;</span>
       </button>
        </div>
        <div class="modal-body">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
             when an unknown printer took a galley of type and scrambled it to make a type
           </p>

           <div class="box_termo">
           	<input class="input_box" name="checkbox"  [checked]="termo" (change)="termo= !termo"  type="checkbox"  />
            Li e aceito os termos e condições acima.
            <br><br>
            <button type="button" [disabled]="!termo" class="btn btn-warning btn-lg btn-block">ok,entendi</button>
          </div>
    </div>
    </ng-template>

</div>
